.campo-digitacao{
    font-size: 20px;
    height: 130px;
}

.frase{
    font-size: 20px;
    text-align: left;
}

.campo-desativado{
    background-color: lightgrey;
}

.icones{
    vertical-align: middle;
}

.borda-verde{
   border: 4px solid lightgreen;
}

.borda-vermelha{
    border: 4px solid lightcoral;

}

.placar{
    display: none;
}

body{
    overflow: scroll;
}

#erro{
    color: red;
    display: none;
}
#spinner{
    display: none;
}

#frase-id{
    width: 40px;
}

#botao-sync{
    float: right;
}